/* styles.css */
body {
    font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    text-wrap: balance;
}

.header {
    width: 100%;
    text-align: center;
    position: relative;
}

.header-image {
    width: 100%;
    height: auto;
    display: block;
}

.desktop {
    display: none;
}

.mobile {
    display: block;
}

@media (min-width: 601px) {
    .desktop {
        display: block;
    }

    .mobile {
        display: none;
    }
}

.search-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    z-index: 1;
    align-items: center;
    gap: 10px;
}

.search-box input {
    padding: 10px;
    border: 2px solid #a5147d;
    border-radius: 5px;
    font-size: 16px;
    width: 300px;
}

.search-box button {
    padding: 10px 20px;
    background-color: #ffc700;
    color: #a5147d;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.search-box button:hover {
    background-color: #e6b800;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.item {
    background-color: #ffffff;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
    width: 200px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
}

.item img {
    width: 100%;
    height: auto;
    border-radius: 8px 8px 0 0;
}

.item button {
    margin-top: 5px;
    padding: 10px 15px;
    background-color: #a5147d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.item button:hover {
    background-color: #8e1268;
}

.hidden {
    display: none;
}

.suggestion-title {
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
    color: #333;
    width: 100%;
}

/* Media Queries */
@media (max-width: 600px) {
    .search-box {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .search-box button {
        flex: 0 1 45%;  /* Permite que cada botão ocupe cerca de 45% da largura da tela */
    }
}

@media (min-width: 601px) {
    .search-box {
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .search-box button {
        flex: 0 1 22%;  /* Permite que cada botão ocupe cerca de 22% da largura do container */
    }
}
